.ticket-process {
    width: 25%;
    height: auto;
    border: 1px rgb(126, 125, 125);
    /* margin-left: 270px;
    margin-top: 100px; */
    padding: 100px;
    background-color: rgb(255, 255, 255);
    margin: 10px;

}

.ticket-form-box,
.ticket-input-box,
.ticket-output-box {
    width: 1100px;
    min-height: 230px;
    margin: 10px 0 10px 56px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 5px 5px rgb(212, 211, 211);
    padding: 40px;
}

.ticket-container {
    display: flex;
    margin-top: 68px;
    margin-left: 260px;
    background-color: #F5F5F5;
}