.homepage-container {
    margin-top: 68px;
    margin-left: 260px;
    background-color: #F5F5F5;
    height: 800px;
}

.homepage-name {
    font-weight: 700;
    font-size: 50px;
    margin-left: 36px;
}

.homepage-info {
    width: 90%;
    margin:0 auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-search {
margin-top:10px;
}

.homepage-catalogue-container {
    display: flex;
}

.homepage-service-container {
    width: 80%;
    margin: 20px auto;
}

.homepage-service-btn {
    margin: 10px;
    display: inline-block;
}

.homepage-service-link {
    color: white;
    text-decoration: none;
}