.requestForm-container {
    background-color: white;
    height: 100vh;
    /* width: 1600px; */
    /* position: absolute; */
    /* margin: 14px 30px; */
}

.requestForm-input-wrapper {
    /* margin: 20px 158px 0; */
    /* display: inline-block; */
    /* width: 30%; */
}

.requestForm-input-info {
    font-weight: 400;
    /* font-size: 26px; */
    /* line-height: 31px; */
    margin-bottom: 10px;
}

.requestForm-input {
    /* width: 420px;
    height: 35px; */
    border: 1px solid #000000;
}

.requestForm-btn-container {
}